@import "../../styles/partials/_colours";

.toggle-box {
  display: inline-block;
  background-color: $primary-background;
  color: $primary-colour-contrast;
  padding: 5px;
  margin: 2px 5px;
  border-radius: 5px;
  &:hover {
    background-color: darken($primary-background, $darken-amount);
  }
  .toggle-box-text {
    cursor: pointer;
  }
  input[type="checkbox"] {
    display: none;
  }
}
