/*
 * GENERAL
 */
/* Colours*/
$juri-purple: #5f3e85;
$white: #fff;
$red: #ff0000;
$green: #00ff00;

/*
 * USAGES
 */
$primary-background: $juri-purple;
$primary-colour-contrast: $white;

$danger-colour: $red;
$success-colour: $green;
