/*
 * GENERAL
 */
$darken-amount: 5%;

/* Colours*/
$juri-purple: #5f3e85;
$juri-pink: #e627a8;
$juri-black: #2c1d1a;
$white: #fff;
$black: #000;
$onyx: #1f1f1f;
$red: #ff0000;
$green: #00ff00;
$grey80: #ccc;
$grey40: #666;


/*
 * USAGES
 */
$primary-background: $juri-purple;
$primary-colour: $juri-purple;
$primary-colour-contrast: $white;

$secondary-background: $juri-pink;
$secondary-colour: $juri-pink;
$secondary-colour-contrast: $juri-black;

$anchor-colour: $juri-pink;
$anchor-colour-hover: $juri-black;

$spinner-colour-one: $juri-pink;
$spinner-colour-two: $juri-purple;
$spinner-colour-three: $juri-pink;
$spinner-colour-four: $juri-purple;

$danger-colour: $red;
$success-colour: $green;
