@import '../../styles/_variables';
@import '../../styles/_mixins';

.manage-page {
  &__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
  }

  &__grid {
    $grid-values: (
      xs: 33,
      sm: 25,
      md: 20,
      lg: 10
    );

    @include gridColumnGenerator($grid-values);
  }
}

.source-item {
  padding: 5px;

  &__reduced-text {
    font-size: 0.875em;
  }
}

// Manage Form
$form-spacing: 15px;

.manage-form {
  min-height: 100vh;
  max-width: 100%;
  overflow: hidden;

  &__loader {
    position: absolute;
    right: 200px;
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    > * {
      margin: 5px;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    width: 100%;
  }
  &__column {
    &:first-child {
      margin-right: 5px;
    }
    &:last-child {
      margin-left: 5px;
    }
  }

  &__editor-label {
    font-size: 0.7em;
    margin-left: 20px;
  }

  &__control {
    margin-bottom: $form-spacing;
  }

  &__help-text {
    font-size: 0.875em;
    margin: 5px;
  }
}

.parser-tab {
  display: flex;
  @include respondTo(sm) {
    flex-direction: column;
  }
  @include respondTo(xs) {
    flex-direction: column;
  }

  &__help {
    display: flex;
    flex-direction: column;
    max-width: 400px;

    @include respondTo(sm) {
      flex-direction: row;
    }
    @include respondTo(xs) {
      flex-direction: row;
    }
  }

  &__error {
    margin: 0;
  }
}
