@mixin lightenOrDarken($key, $colour, $percentage) {
  @if lightness($colour) < 50% {
    #{$key}: lighten($colour, $percentage);
  } @else {
    #{$key}: darken($colour, $percentage);
  }
}

@mixin respondTo($media) {
  @if $media == xs {
    @media (max-width: $screen-xs-max) {
      @content;
    }
  } @else if $media == sm {
    @media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
      @content;
    }
  } @else if $media == md {
    @media (min-width: $screen-md) and (max-width: $screen-md-max) {
      @content;
    }
  } @else if $media == lg {
    @media (min-width: $screen-lg) {
      @content;
    }
  }
}

@mixin gridColumnsForPercentage($value) {
  $percentage: $value * 1%;
  grid-template-columns: repeat(auto-fit, minmax($percentage, 1fr));
}

@mixin gridColumnGenerator($grid-values) {
  $xs-grid: map-get($grid-values, xs);
  $sm-grid: map-get($grid-values, sm);
  $md-grid: map-get($grid-values, md);
  $lg-grid: map-get($grid-values, lg);

  @include respondTo(xs) {
    @include gridColumnsForPercentage($xs-grid);
  }
  @include respondTo(sm) {
    @include gridColumnsForPercentage($sm-grid);
  }
  @include respondTo(md) {
    @include gridColumnsForPercentage($md-grid);
  }
  @include respondTo(lg) {
    @include gridColumnsForPercentage($lg-grid);
  }
}
