@import './_mixins';
@import '~meiko/styles/_appTheme';
@import './_variables';

// Themes
$theme-maps: (
  light: (
    base-background: #fff,
    base-colour: #000,
    primary-background: $juri-purple,
    primary-colour: #fff,
    active-background: $juri-pink,
    active-colour: $juri-black,
    faded-out: $grey80,
    toggle-box--focused: $juri-pink,
    danger-colour: firebrick,
    control-border-colour: rgba(0, 0, 0, 0.1)
  ),
  dark: (
    base-background: $juri-black,
    base-colour: #fff,
    primary-background: $juri-pink,
    primary-colour: $juri-black,
    active-background: $juri-purple,
    active-colour: #fff,
    faded-out: $grey80,
    toggle-box--focused: #fff,
    danger-colour: $red,
    control-border-colour: invert(rgba(0, 0, 0, 0.2))
  )
);

@include appTheme($theme-maps) {
  --colour: #{$base-colour};
  --scroll-top-button--background: #{$primary-background};
  --scroll-top-button--background-hover: #{darken($primary-background, 10%)};
  --scroll-top-button--colour: #{$primary-colour};

  --manage-sources--accent-colour: #fad1ed;

  --danger-colour: #{map-get($theme, danger-colour)};

  // Overrides START
  .alert__content,
  .tickbox input:not(:checked):before {
    color: $base-colour;
  }
  // Overrides END

  // Navigation
  .nav-link {
    color: $primary-background;

    &:focus,
    &:hover,
    &:active {
      color: $active-background;
    }
  }

  .application-header__link {
    color: $primary-colour;

    &:hover,
    &.active {
      background-color: $active-background;
      color: $active-colour;
    }
  }

  .toggle-box {
    background-color: $primary-background;
    color: $primary-colour;

    &:hover {
      background-color: darken($primary-background, 10%);
    }
  }

  // .application-header,
  .sticky-header__fixed--stuck {
    background-color: $primary-background;
    color: $primary-colour;

    .select-box {
      background-color: $primary-background;
      color: $primary-colour;
    }
    .has-float-label select:focus {
      border-color: $primary-colour;
    }
  }

  .dropdown__toggler {
    &:focus,
    &:hover {
      @include lightenOrDarken('color', $primary-colour, 10%);
    }
  }

  // Toggle box
  .toggle-box {
    --toggle-box--box-shadow-colour: #{map-get($theme, toggle-box--focused)};
  }

  // Radio toggle
  .theme-toggle {
    .radio-toggle__unchecked {
      color: $yellow;
    }
    .radio-toggle__checked {
      color: $black;
    }
  }
}
