@import '../../styles/_colours';

.content-item {
  min-height: 90px;
  padding: 2px;
  margin: 2px 0;
  list-style-type: none;

  &__image {
    position: absolute;
    width: 58px;
    height: 90px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
  }

  &__info {
    padding-left: 65px;
  }

  &__link {
    text-decoration: none;
  }
}

// SendSelectedDataToSave
.send-data {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
}
