@import '../../styles/_colours';

.content-item {
  min-height: 90px;
  padding: 2px;
  margin: 2px 0;
  list-style-type: none;

  &__inner {
    display: flex;
  }

  &__info {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0 5px;
  }

  &__link {
    text-decoration: none;
  }
}

// SendSelectedDataToSave
.send-data {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
}
