.toggle-box {
  display: inline-block;
  padding: 5px;
  margin: 2px 5px;
  border-radius: 5px;

  &--focused {
    box-shadow: 0px 0px 2px 3px var(--toggle-box--box-shadow-colour);
  }
  &:active {
    box-shadow: 0px 0px 5px 5px var(--toggle-box--box-shadow-colour);
  }

  &__text {
    cursor: pointer;
  }

  &__for-screenreader {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
}
