@import '../../styles/_extensions.scss';

.latest-page {
  &__content-grid {
    @extend %grid-settings;
  }

  &__header {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
  }

  &__title {
    flex: 1 1 70%;
  }

  &__refresh-button {
    $size: 1.5em;
    min-width: $size;
    box-sizing: content-box;

    &,
    &::before {
      width: $size;
      height: $size;
    }

    &::before {
      position: absolute;
    }

    &:hover::before {
      animation: circleRotate 1s infinite linear;
    }
  }
}

@keyframes circleRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

// sticky header usage
.sticky-header__fixed--stuck {
  .latest-page__header {
    align-items: center;
    margin: 0;
  }
  .select-container {
    padding: 0;
  }
}
