@import '../../styles/_variables';
@import '../../styles/_mixins';

.latest-page {
  &__content-grid {
    $grid-values: (
      xs: 50,
      sm: 33,
      md: 25,
      lg: 20
    );

    @include gridColumnGenerator($grid-values);
  }

  &__header {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
  }

  &__title {
    flex: 1 1 70%;
  }

  &__refresh-button {
    $size: 1.5em;
    min-width: $size;
    box-sizing: content-box;

    &,
    &::before {
      width: $size;
      height: $size;
    }

    &:hover::before {
      animation: circleRotate 1s infinite linear;
    }
  }
}

@keyframes circleRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

// sticky header usage
.sticky-header__fixed--stuck {
  .latest-page__header {
    align-items: center;
    margin: 0;
  }
}
