@import '../../styles/_variables';

$alert-container-height: 40px;
$alert-left-margin: 10px;
$alert-icon-padding: 10px;
$alert-icon-width: $alert-container-height;
$font-size: 16px;

.alert-container {
  position: fixed;
  top: 50px;
  left: 50%;
  width: 50%;
  height: $alert-container-height;
  transform: translateX(-50%);
  z-index: map-get($z-index, alert);

  > .alert {
    width: 100%;
    background-color: #fff;
    color: #000;
    padding: 0;
    border-radius: inherit;
    margin: 0;
    box-shadow: 1px 1px 10px 1px;
    z-index: map-get($z-index, above-siblings);

    .alert-title {
      display: flex;
      flex: 1;
      margin-left: 10px;
      font-size: $font-size;
    }

    .button-group {
      display: flex;
      padding: 2px;
      margin: 0;

      button {
        min-width: auto;
      }
    }
  }
}

.close::before {
  font-size: 1rem;
}

.alert-content {
  display: flex;
  flex-direction: column;
  height: $alert-container-height;

  .alert-top-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .alert-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: $alert-icon-width;
      height: $alert-icon-width;
      color: #fff;
      padding: 0;
      font-size: 1.5rem;
      font-weight: bold;
    }
  }

  .alert-details {
    display: none;
    padding: 10px 0 {
      left: 5px;
    }
    margin-left: $alert-icon-width;
    white-space: pre-line;
    word-wrap: break-word;
  }

  &.is-expanded {
    height: auto;
    .alert-details {
      display: flex;
      width: auto;
      overflow: hidden;
    }
  }
}

@each $type, $values in $ui-messaging {
  $background: map-get($values, background);
  $colour: map-get($values, colour);
  $content: map-get($values, icon);

  .alert.#{$type} .alert-icon {
    background-color: $background;
    color: $colour;
    &::before {
      content: $content;
    }
  }
}
