@import "../../styles/partials/_colours";

.juri-header {
  position: fixed;
  height: 40px;
  width: calc(100% - 10px);
  background-color: $primary-background;
  color: $primary-colour-contrast;
  padding: 5px;
  z-index: 10;
}

#juri-svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
}
#navigation-links {
  position: absolute;
  top: 0;
  right: 10px;
  width: 33%;
  height: 100%;
  div {
    height: 100%;
  }
  a {
    background-color: $primary-background;
    color: $primary-colour-contrast;
    height: 100%;
    padding: 8px;
    text-decoration: none;
    box-sizing: border-box;
    &:hover {
      background-color: darken($primary-background, $darken-amount);
    }
    &.active {
      background-color: $secondary-background;
      color: $secondary-colour-contrast;
      &:hover {
        background-color: darken($secondary-background, $darken-amount);
      }
    }
  }
}
.flex-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
