@import "../../styles/partials/_colours";

.juri-header {
  position: fixed;
  height: 40px;
  width: calc(100% - 10px);
  background-color: $primary-background;
  color: $primary-colour-contrast;
  padding: 5px;
  z-index: 10;
}

#juri-svg, #about-link {
  position: absolute;
  cursor: pointer;
}
#juri-svg {
  top: 0;
  left: 0;
}
#about-link {
  top: 10px;
  right: 10px;
  background-color: $primary-background;
  color: $primary-colour-contrast;
  padding: 8px;
  text-decoration: none;
  &:hover {
    background-color: darken($primary-background, $darken-amount);
  }
}
