@import "../../styles/partials/_colours";

.juri-header {
  position: fixed;
  height: 40px;
  width: calc(100% - 10px);
  background-color: $primary-background;
  color: $primary-colour-contrast;
  padding: 5px;
  z-index: 10;
}

#juri-svg {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}
#navigation-links {
  position: absolute;
  top: 0;
  right: 10px;
  width: 33%;
  height: 100%;
  a {
    background-color: $primary-background;
    color: $primary-colour-contrast;
    padding: 8px;
    text-decoration: none;
    &:hover {
      background-color: darken($primary-background, $darken-amount);
    }
  }
}
.flex-right {
  display: flex;
  width: 33%;
  margin-left: auto;
}
