@import '../../styles/_variables';

.sticky-header {
  min-height: $header--height; // stop occasional jarring due to height changing

  &__fixed {
    position: relative;
    width: 100%;
    min-height: $header--height;

    &--stuck {
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      z-index: map-get($z-index, above-header);
    }
  }
}
