svg {
  position: relative;
  width: 50px;
  height: 50px;
  background-color: #5f3e85;
  padding: 8px;
  border-radius: 20%;
  box-sizing: border-box; }
  svg:not(:hover) > .hideshow {
    animation: hideshow infinite 8s linear;
    opacity: 0; }
    svg:not(:hover) > .hideshow:nth-child(2) {
      animation-delay: 2s; }
    svg:not(:hover) > .hideshow:nth-child(3) {
      animation-delay: 4s; }
    svg:not(:hover) > .hideshow:nth-child(4) {
      animation-delay: 6s; }
  svg:hover > #word {
    opacity: 1; }
  svg:hover > .letter {
    opacity: 0 !important; }

#word, .letter {
  fill: #fff;
  font-family: sans-serif; }

#word {
  font-size: 40px;
  transition: all 1s ease-in-out;
  opacity: 0; }

.letter {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 70px;
  transition: all 1s ease-in-out; }

.diagonal {
  transform: translateX(-5px) translateY(20px) rotate(-45deg); }

@keyframes hideshow {
  0% {
    opacity: 0; }
  25% {
    opacity: 1; }
  50% {
    opacity: 0; }
  75% {
    opacity: 0; }
  100% {
    opacity: 0; } }
