.about {
  h2 {
	margin: 10px 5px;
  }
  .subtitle {
	margin: 2px 5px;
    font-size: small;
  }
  .content {
	margin: 5px;
	a {
	  margin: 0 5px;
	}
  }
  #about-juri-links {
	h4 {
	  margin: 5px;
	}
	ul {
		margin: 0;
	}
  }
}