.search-results {
  display: flex;
  flex-direction: row;
  width: 100%;

  &__loader {
    margin: 0 auto;
  }
}

.search-source {
  padding: 10px 0;
  margin: 0 1px;

  &__title {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 1px solid;
    font-size: 1.2em;
  }
  &__is-primary {
    flex: unset;
    min-height: 1em;
    input {
      margin: 0;
    }
  }
  &__query-trigger {
    padding: 5px 0;
  }
}

.search-results__sources {
  width: calc(100% - 10px); // account for padding
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
