.search-bar {
  display: flex;
  flex-direction: column;
  margin-top: -25px;
}

.text-input-container {
  width: 50vw;
  margin: 0 auto;
}

input[type='text'] {
  width: 100%;
  min-width: 200px;
}

.search-bar > .title {
  margin-top: 0;
}
