@import "../../styles/partials/_colours";

.text-input-container {
  width: 50vw;
  margin: 0 auto;
}

#search-input {
  width: 100%;
  min-width: 200px;
}

.selection-list-container {
  position: relative;
  .selection-list {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    background-color: $primary-background;
    color: $primary-colour-contrast;
    padding: 0;
    margin: -50% 0;
    list-style-type: none;
    z-index: 10;
    li {
      padding: 2px 5px;
      cursor: pointer;
      &:hover {
        background-color: $secondary-background;
        color: $secondary-colour-contrast;
      }
    }
  }
  &:hover {
    .selection-list {
      display: block;
    }
  }
}
