.select-container {
  flex: 1;
  padding: 5px;
  min-height: 35px;
  box-sizing: content-box;
}

.select-box {
  display: flex;
  justify-content: center;
  min-width: 100px;
  min-height: 25px;
  width: 100%;
  color: inherit;
  padding: 5px;
  border: none;
  cursor: pointer;

  option {
    background-color: inherit;
  }
}
